Binaries
Deploy
Build
ipch
obj
bin
temp
TestResults
packages
.svn
*.suo
*.opensdf
.directory
*.generated.cs
*.md.pc
*.userprefs
*.csproj~
*.sdf
*.user
*.psess
*.vsp
*.vspx
*.ipch
*.nvuser
*.sln.ide
*.ui.cs
Source/Pegasus/Pegasus/Assets
Source/Pegasus/User Interface/UserInterface.cs
Source/Lwar/Lwar/Assets
Source/Lwar/User Interface/UserInterface.cs
Source/Lwar/Lwar/Gameplay/Client/Entities/EntityTemplates.cs
Source/Lwar/Lwar/Network/EntityType.cs
Source/Lwar/Server/templates.c
Source/Lwar/Server/templates.h
