Binaries
Deploy
Build
ipch
obj
bin
temp
TestResults
packages
.vs/
.svn
*.suo
*.opensdf
.directory
*.generated.cs
*.md.pc
*.userprefs
*.csproj~
*.sdf
*.user
*.psess
*.vsp
*.vspx
*.ipch
*.nvuser
*.sln.ide
*.ui.cs
Source/Pegasus/Platform/Interop/*
Source/Pegasus/Pegasus/Platform/PlatformInterface.asm
Source/Pegasus/Pegasus/Platform/Graphics/DeviceInterface.asm
Source/Pegasus/Pegasus/Platform/Network/UdpInterface.asm
Source/Pegasus/Pegasus/UserInterface/WindowInterface.asm
Source/Pegasus/Pegasus/Assets
Source/Pegasus/Pegasus/Scripting/Commands.cs
Source/Pegasus/Pegasus/Scripting/Cvars.cs
Source/Pegasus/User Interface/UserInterface.cs
Source/Lwar/Lwar/Assets
Source/Lwar/Lwar/Scripting/Commands.cs
Source/Lwar/Lwar/Scripting/Cvars.cs
Source/Lwar/User Interface/UserInterface.cs
Source/Lwar/Lwar/Gameplay/Client/Entities/EntityTemplates.cs
Source/Lwar/Lwar/Network/EntityType.cs
Source/Lwar/Server/templates.c
Source/Lwar/Server/templates.h